
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>HOURLY</h4>
            <p>A Watch that Adapts to Your Lifestyle</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>MENU</h4>
            <p>Shop</p>
            <p>About</p>
            <p>Journal</p>
            <p>Contact Us</p>
        </div>
        <div class="footer-section">
            <h4>HELP</h4>
            <p>Shipping Information</p>
            <p>FAQs</p>
            <p>Contact</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer-section">
            <h4>CARE FOR A VISIT?</h4>
            <p>Kinfra Industrial Park, Kakkanad, Kochi</p>
            <p><i class="fas fa-phone"></i> +91 0000000000</p>
            <p><i class="fas fa-envelope"></i> hourly@gmail.com</p>
        </div>
    </div>
    <p class="footer-bottom">Copyright ©2024 All rights reserved</p>
</footer>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/scrollax.min.js"></script>
<!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/js/google-map.js"></script> -->
<script src="/js/main.js"></script>

</body>
</html>