<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HOURLY - Login</title>
    <link rel="stylesheet" href="/css/admin-login.css" />
</head>
<body>
    <div class="container">
        <div class="logo-section">
            <img src="/image/raw-removebg-preview.png" alt="Hourly Logo" class="logo-img" />
           
        </div>
        <div class="form-section">
            <form id="loginForm" method="post" action="login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required />
                </div>
                <button type="submit" class="btn-login">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>